@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.nav-sublink::after {
  @apply content-[''] h-[2px] absolute -bottom-[5px] bg-slate-500 w-[0px] left-0 rounded-lg duration-300;
}
.nav-sublink:hover::after {
  @apply w-[100%];
}

header {
  @apply md:!flex-col;
}

.hero-text {
  @apply text-[35px] md:text-[50px] lg:text-[60px] tracking-widest;
}

.section-heading {
  @apply font-bold text-[25px] md:text-[35px] relative inline-block tracking-widest;
}
.section-heading::after {
  @apply content-[''] h-[3px] w-full text-[20px] absolute rounded-xl -bottom-[3px] bg-slate-950 left-0;
}

.dept-heading {
  @apply text-[20px] md:text-[25px] lg:text-[30px] px-2 md:px-0 font-bold text-slate-950 py-4 underline underline-offset-4;
}
.hod-heading {
  @apply text-[20px] md:text-[30px] font-bold text-slate-950 py-4;
}

.program-heading {
  @apply font-bold text-[20px] md:text-[30px] relative inline-block tracking-widest;
}
.program-heading::after {
  @apply content-[''] h-[3px] w-full absolute rounded-xl -bottom-[3px] bg-slate-950 left-0;
}

.prog-name::after {
  @apply content-[''] h-[1.6px] w-full absolute rounded-xl -top-[10px] bg-slate-100 left-0;
}

[data-index="0"] {
  @apply bg-[#64113F];
}
[data-index="1"] {
  @apply bg-[#FF715B];
}
[data-index="2"] {
  @apply bg-[#DAA507];
}
[data-index="3"] {
  @apply bg-[#385745];
}
[data-index="4"] {
  @apply bg-[#5D9885];
}
[data-index="5"] {
  @apply bg-[#902923];
}
[data-index="6"] {
  @apply bg-[#183059];
}
[data-index="7"] {
  @apply bg-[#573842];
}
